body {
 
background-image: url("../images/worldmapsilver95.png"); 
  background-size: cover;
  background-position: left top; 
  background-repeat: no-repeat;
  background-color: black;
 
}

h1 {
  color:rgb(115,101,64);
  font-size: 2.5rem;
  font-weight: 350;
}

h2{
  color:#BFBAB1;
  font-size: 2.3rem;
  font-weight: 200;
}
 
h3{
  color:#BFBAB1;
  font-size: 0.7rem;
  font-weight: 100;
  line-height: 0.5rem;
}

h4{
  color:rgb(115,101,64);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1rem;
  font-style:italic;
}
@media (min-width: 576px){

#LanguageSelect{
  position:absolute;
  top:20px;
  right:20px;
 }
}

#TempMes{
  color:rgb(115,101,64);
  text-decoration: none;
}

#TempMes:hover{
  color:rgb(215,201,64);
  text-decoration:none;
}


.slogan{
  color:#736540;
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 1rem;
  font-style:italic;
}

.textapp {
  color:rgba(191,186,177,0.9);
  font-size: 1.3rem;
  font-weight: 200; 
  margin:0px; 
  padding:10px;
}

#nav-list {
  text-align: right;
}
.row2{
margin-top:0px;
}

.contactbox1{
  text-align: center;
  margin-bottom:20px;

   }
.contactbox2{
   text-align: center;
   border-left-width:1px;
   border-right-width:1px;
   border-left-style: solid;
   border-right-style: solid;
   border-color: rgb(115,101,64);
   line-height:1rem;
   margin-bottom:20px;
   
}
.socialmedia{
text-align:center;
margin:10px;

}

#logo-img {
  background: url('../images/VLlogoinside.png') no-repeat;
  background-size:150px;
  width: 150px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

#construct-img{
  background: url('../images/ucgoldrembg.png') no-repeat;
  background-size:400px;
  width:400px;
  height:200px; 

 }

.navbar-toggler{
  position:absolute;
  right:10px;
  top:40px;
}

@media only screen and (max-width:576px){
#navbarCollapse {
  margin-top:-35px;
  line-height: 2rem;
}
}

.bi{
  color:rgb(115,101,64); 
}
/**@media only screen and (max-width: 767px){
  #navbarCollapse {
 position:absolute;
  top:0px;
  left:80px;
  line-height: 10px;
  font-size:1.2rem;
}*//


input {
    background-color:#666;
    color: #FFF;
}



.btn {
    background-color:#484028!important;
    border-color:transparent!important;
    font-weight:300!important;   
}


.btn:hover {
    background-color: #736540!important;
    border-color:transparent!important;   
}

.contactbutton{
  text-align: left;
}

.form-control {
  background-color:#222222!important;
  opacity:1!important;
  border-color:transparent!important; 
  
}

.form-group {
    width:400px; 
    
   }

*::placeholder {
  color:white!important;
  opacity:0.5!important;
}

/** defining contact details styling in xs screen **/ 
.fixed{
  width:40px;
  height:50px;
  /**border-color:blue;
  border-style:solid;**/
  padding-top:5px;
  margin-left:30px;
  text-align:left;
    }
i.fas,i.fab{
  color:rgb(115,101,64);
  font-size:30px;
  margin:0px;
/**  border-style:solid;
  border-color:orange;**/ 
}

.smallcol{
  border-color:transparent;
  border-width:1px;
  border-style:solid;
  padding:4px;
  height:40px;
}
#contactxs{
  font-size:0.85rem;
  color:rgba(191,186,177,0.9);
  font-weight:100;
  line-height:1.3;
  padding-top:5px;
  /**border-style:solid;
  border-color:yellow;**/ 
}
/***************************************************/
.socialmedia>i.fab{
  margin-left:3px;
  margin-right:3px;
  font-size:25px;
}
.help-block{
  color:rgba(191,186,177,0.7)!important;
}