body {
 
background-image: url("../images/worldmapsilver95.png"); 
  background-size: cover;
  background-position: left top; 
  background-repeat: no-repeat;
  background-color: black;
 
}
h1 {
  color:rgb(115,101,64);
  font-size: 2.5rem;
  font-weight: 350;
}

h2{
  color:#BFBAB1;
  font-size: 2.3rem;
  font-weight: 200;
 }  


.textapp {
  color:rgba(191,186,177,0.6);
  font-size: 1.1rem;
  font-weight: 200;
}

.row{
  margin-left:10px;
}

/**
@media screen and (max-width: 767px){
  #navbarCollapse {
  position:absolute;
  top:10px;
  left:80px;
  line-height: 10px;
}
}**/

}
